<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

     
    </head>
    <body>

    <section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4 d-flex align-items-center mt-xl-4 ">
      
       <img class="shake-little   me-3  d-block" style="height:150px" src="/img/logob.png" alt="">
          <span class="h1 fw-bold mb-0 d-block">Brayanmf</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

        <form style="width: 23rem;" class="shadow-lg p-3" method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div class="form-outline mb-4">
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" />
              <label class="form-label" for="form2Example18">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="inputPassword" class="form-control form-control-lg" name="password" autocomplete="current-password" required/>
              <label class="form-label" for="form2Example28">Password</label>
            </div>
             <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
            </div>

           

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="/img/fedora-b.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: 50% 0%;">
      </div>
    </div>
  </div>
</section>
 {% block javascripts %}{{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
